<a href="https://colab.research.google.com/github/SenIndrani/Machine_learning_consumption_timeseries_forecasting/blob/main/decision_tree_on_kidney_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')
%matplotlib inline
pd.set_option('display.max_columns', 26)

In [ ]:
df= pd.read_csv('/content/kidney_disease.csv')
df.sample()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
166,166,27.0,60.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,76.0,44.0,3.9,127.0,4.3,NaN,NaN,NaN,NaN,no,no,no,poor,yes,yes,ckd

In [ ]:
df['classification'] = df['classification'].replace(['ckd\t'],'ckd')

In [ ]:
df = df.drop_duplicates(keep=False)

In [ ]:
df['age'].fillna(df['age'].mean(), inplace=True)

In [ ]:
df.shape

(400, 26)

In [ ]:
df.isna().sum().sort_values(ascending = False)

rbc               152
rc                130
wc                105
pot                88
sod                87
pcv                70
pc                 65
hemo               52
su                 49
sg                 47
al                 46
bgr                44
bu                 19
sc                 17
bp                 12
ba                  4
pcc                 4
htn                 2
dm                  2
cad                 2
ane                 1
pe                  1
appet               1
id                  0
age                 0
classification      0
dtype: int64

In [ ]:
numerical=[]
catgcols=[]
for col in df.columns:
    if df[col].dtype=="float64":
        numerical.append(col)
    else:
        catgcols.append(col)

for col in df.columns:
    if col in numerical:
        df[col].fillna(df[col].median(), inplace=True)
    else:
        
        df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
df.isna().sum().sort_values(ascending = False)

id                0
age               0
ane               0
pe                0
appet             0
cad               0
dm                0
htn               0
rc                0
wc                0
pcv               0
hemo              0
pot               0
sod               0
sc                0
bu                0
bgr               0
ba                0
pcc               0
pc                0
rbc               0
su                0
al                0
sg                0
bp                0
classification    0
dtype: int64

In [ ]:
df1.shape

(400, 2)

In [ ]:
df1 =df[['age','classification']].copy()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['classification'] = le.fit_transform(df1['classification'])

In [ ]:
X=df1[['age']]
y=df1['classification']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import tree
dtc = tree.DecisionTreeClassifier()
model = dtc.fit(X_train, y_train)
#tree.plot_tree(model)
# accuracy score, confusion matrix and classification report of decision tree

dtc_acc = accuracy_score(y_test, dtc.predict(X_test))

print(f"Training Accuracy of Decision Tree Classifier is {accuracy_score(y_train, dtc.predict(X_train))}")
print(f"Test Accuracy of Decision Tree Classifier is {dtc_acc} \n")

print(f"Confusion Matrix :- \n{confusion_matrix(y_test, dtc.predict(X_test))}\n")
confusion = confusion_matrix(y_test, dtc.predict(X_test))
tn, fp, fn, tp = confusion.ravel()
print(f"Classification Report :- \n {classification_report(y_test, dtc.predict(X_test))}")

Training Accuracy of Decision Tree Classifier is 0.765625
Test Accuracy of Decision Tree Classifier is 0.65

Confusion Matrix :-
[[43  9]
 [19  9]]

Classification Report :-
               precision    recall  f1-score   support

           0       0.69      0.83      0.75        52
           1       0.50      0.32      0.39        28

    accuracy                           0.65        80
   macro avg       0.60      0.57      0.57        80
weighted avg       0.63      0.65      0.63        80